
body{
 background-color:limegreen   
}
.jumbotron{
    background-image: url(splash.png);
    background-size: 100%;
    color: blue;
}
h1{
    text-align: center;
}
.btn{
    background-color: white;
    border-style: double;
}
.btn:hover{
    background-color: red;
}
.p1{
    float: left;

}
.p2{
    float: right;
}

.stripes{
    text-align: center;
    margin-top: 40px;
    height: 80px;
    padding-top: 20px;
    padding-left: 15px ;
    padding-right: 15px;
    background-color: blue;
    color: white;
    opacity: .70;
}
.scores{
    text-align: center;
    margin-top: 40px;
    height: 80px;
    padding-top: 20px;
    padding-left: 15px ;
    padding-right: 15px;
    background-color: orange;
    opacity: .70;

}
.xplayer{
    float: left;
}
.oplayer{
    float: right;
}
table{
    border-collapse: collapse;
    border-spacing: 0px;

}
#board{
    background-color: white;
    padding: 0px;
    margin: 0 auto;
    margin-top: 25px;
}
#board tr td {
    width: 125px;
    height: 125px;
    border: 5px solid black;
    font-size: 40px;
    text-align: center;
    color: orange;
}
#board tr td:hover{
    background: blue;
    cursor: -webkit-grab;
    
}
